body{

}

.nav-item{
	text-align: center;
	margin-top: 10px;
}
 a:hover {
	background: #E7E7E7;

}
h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
h3{
	text-align: center;
}
#menu-grid{
	background-color: grey;
}

/*// Small devices (landscape phones, 576px and up*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up*/
@media (min-width: 992px) { ... }