

.nav-item{
  text-align: center;
  margin-top: 10px;
}
  a:hover {
    background: #E7E7E7;}
}
.text-center{
  text-align:center;
}
.row{
  position: relative;
  float:left;
  
}

.row > div > div {
  background: grey;
  padding: 30px;
  margin:10px;
  border:2px solid;
}
#page-title{
  margin-top:20px;
  margin-bottom:50px;
}




/*// Extra Small devices (landscape phones, 5p*/
@media (max-width: 767px) { 
  .row > div > div{
    width:80%;
    margin:20px auto 0;
  }
}

/*// small devices (tablets, 768px and up*/
@media (min-width: 768px) and (max-width: 991px)  {
  .nav-item{
    visibility:hidden;
  }
  .row > div > div{
    width:80%;
    margin:20px auto 0;
  }
}
  
  
   
 
/*// medium devices (desktops, 992px and up*/
@media (min-width: 992px) and (max-width:1199px) {
  .nav-item{
    visibility:hidden;
  }
  .row > div > div{
    width:80%;
    margin:20px auto 0;
  }
}


 
    
    